<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Academy Forms</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>학원신청서 목록</h1>
<table>
    <thead>
    <tr>
        <th>원장 이름</th>
        <th>원장 휴대전화</th>
        <th>학원 이름 </th>
        <th>학원 번호</th>
        <th>학원 우편번호</th>
        <th>학원 주소</th>
        <th>학원 상세주소</th>
        <th>통과 여부</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="academyForm : ${academyForms}">
        <td th:text="${academyForm.directorName}"></td>
        <td th:text="${academyForm.directorPhoneNumber}"></td>
        <td th:text="${academyForm.academyName}"></td>
        <td th:text="${academyForm.academyPhoneNumber}"></td>
        <td th:text="${academyForm.academyPostcode}"></td>
        <td th:text="${academyForm.academyAddress}"></td>
        <td th:text="${academyForm.academyAddressDetail}"></td>
        <td>
    <span th:if="${academyForm.authStatus == 0}">
        <form th:action="@{/admin/accept}" method="post">
            <input type="hidden" name="academyFormId" th:value="${academyForm.id}">
            <button type="submit">수락</button>
        </form>
        <form th:action="@{/admin/reject}" method="post">
            <input type="hidden" name="academyFormId" th:value="${academyForm.id}">
            <button type="submit">거절</button>
        </form>
    </span>
            <span th:if="${academyForm.authStatus == 1}">o</span>
            <span th:if="${academyForm.authStatus == -1}">x</span>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>
