#header_adminLogin{
    width:100%;
    height:270px;
}
hr{
    border:0 ;
}
#adminLogin_write{
    position: relative;
    display: block;
    width: 556px;
    height: 400px;
    background-color: #FFFFFF;
    margin:0 auto;
}

#adminLogin_write>#adminLogin_write_header{
    width: 556px;
    height: 100px;
    border-top: solid 3px #000000;
}

#adminLogin_write_header>a{
    display:block;
    font-size: 40px;
    color:#000000;
    text-align: center;
    margin:auto;
    margin-top:40px;
}

#adminLogin_write>form{
    width:556px;
    height: 300px;
}

form>#id_adminLogin>input{
    display:block;
    width: 380px;
    height: 48px;
    background-color: #FFFFFF;
    margin:auto;
    margin-top:30px;
    border-color: #6A6A6A;
    border-radius: 15px;

    font-size: 15px;
    color:#6A6A6A;
    box-shadow: none;
}

form>#password_adminLogin>input{
    display:block;
    width: 380px;
    height: 48px;
    background-color: #FFFFFF;
    margin:20px auto;
    border-color: #6A6A6A;
    border-radius: 15px;

    font-size: 15px;
    color:#6A6A6A;
    box-shadow: none;
}

form>button{
    display:block;
    width: 380px;
    height: 56px;
    background-color: #363636;
    margin:30px auto;
    border-color: #363636;
    border-radius: 15px;

    font-size: 15px;
    color:#FFFFFF;
    box-shadow: none;
}

#footer_adminLogin{
    width:100%;
    height:320px;
}