#header_teacher_lecture_student_manage{
    width:100%;
    height:140px;
}

#teacher_lecture_student_manage_frame{
    width: 979px;
    height: 666px;
    background-color: #FFFFFF;
    margin: auto;
    border-top: solid 3px #000000;
}

#footer_teacher_lecture_student_manage{
    width:100%;
    height:144px;
}