<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
</head>
<body>
<h2>아이디 찾기</h2>
<form action="/student/findStudentId" method="post">
    <label for="studentName">이름:</label><br>
    <input type="text" id="studentName" name="studentName" required><br>
    <label for="studentPhoneNumber">전화번호:</label><br>
    <input type="tel" id="studentPhoneNumber" name="studentPhoneNumber" required><br>
    <input type="submit" value="아이디 찾기">
</form>
</body>
</html>
