<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
<h2>비밀번호 찾기</h2>
<form action="/student/findStudentPassword" method="post">
    <label for="studentId">아이디:</label><br>
    <input type="text" id="studentId" name="studentId" required><br>
    <label for="studentName">이름:</label><br>
    <input type="text" id="studentName" name="studentName" required><br>
    <label for="studentPhoneNumber">전화번호:</label><br>
    <input type="tel" id="studentPhoneNumber" name="studentPhoneNumber" required><br>
    <input type="submit" value="비밀번호 찾기">
</form>
</body>
</html>
