<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
<h2>비밀번호 찾기</h2>
<form action="/user/findUserPassword" method="post">
    <label for="userId">아이디:</label><br>
    <input type="text" id="userId" name="userId" required><br>
    <label for="userName">이름:</label><br>
    <input type="text" id="userName" name="userName" required><br>
    <label for="userPhoneNumber">전화번호:</label><br>
    <input type="tel" id="userPhoneNumber" name="userPhoneNumber" required><br>
    <input type="submit" value="비밀번호 찾기">
</form>
</body>
</html>
