<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지</title>
    <script>
        function enableEdit() {
            document.getElementById('studentName').removeAttribute('readonly');
            document.getElementById('studentPhoneNumber').removeAttribute('readonly');
            document.getElementById('studentBirthDate').removeAttribute('readonly');6
            document.getElementById('saveBtn').style.display = 'block';
        }
    </script>
</head>
<body>
<h2>내 정보</h2>

<form id="studentForm" action="/student/update" method="post">
    <label for="studentName">이름:</label><br>
    <input type="text" id="studentName" name="studentName" th:value="${student.studentName}" readonly><br>
    <label for="studentPhoneNumber">휴대전화:</label><br>
    <input type="tel" id="studentPhoneNumber" name="studentPhoneNumber" th:value="${student.studentPhoneNumber}" readonly><br>
    <label for="studentBirthDate">생년월일:</label><br>
    <input type="date" id="studentBirthDate" name="studentBirthDate" th:value="${student.studentBirthDate}" readonly><br>
    <button type="button" id="editBtn" onclick="enableEdit()">수정하기</button>
    <input type="submit" id="saveBtn" value="저장하기" style="display: none;">
</form>

<form action="/student/uploadProfilePicture" method="post" enctype="multipart/form-data">
    <input type="file" name="profilePicture" required>
    <input type="submit" value="Upload">
</form>

<div th:if="${student.profilePictureUrl}">
    <img th:src="${student.profilePictureUrl}" alt="프로필 이미지" style="width: 100px; height: 100px;">
</div>
<div th:unless="${student.profilePictureUrl}">
    <p>등록된 프로필이 없습니다</p>
</div>

<h2>비밀번호 변경</h2>
<form action="/api/student/changePassword" method="post">
    <label for="currentPassword">현재 비밀번호:</label><br>
    <input type="password" id="currentPassword" name="currentPassword" required><br>
    <label for="newPassword">새 비밀번호:</label><br>
    <input type="password" id="newPassword" name="newPassword" required><br>
    <label for="confirmNewPassword">새 비밀번호 확인:</label><br>
    <input type="password" id="confirmNewPassword" name="confirmNewPassword" required><br>
    <input type="submit" value="비밀번호 변경">
</form>

</body>
</html>
