hr{
    border:0 ;
}
#adminnotice_frame{
    width:1358px;
    height:1044px;
    background-color:#FFFFFF;
    margin:auto;
    border-radius:100px;
}

#adminnotice_frame>#adminnotice_header{
    width:1358px;
    height:190px;
}

#adminnotice_header>a{
    float:left;
    font-size: 48px;
    color:#000000;
    text-align: center;
    margin:auto;
    margin-top:80px;
    margin-left:120px;
    cursor:pointer;
}

#adminnotice_header>h2{
    float:left;
    font-size: 48px;
    color:#000000;
    text-align: center;
    margin:auto;
    margin-top:80px;
    margin-left:360px;
}

#adminnotice_header>#write_btn{
    float:left;
    width:145px;
    height:55px;
    font-size: 24px;

    color:#000000;
    text-align: center;
    margin:auto;
    margin-top:90px;
    margin-left:300px;
    border-radius:14px;
}

#write_btn>#write{
    margin:auto;
    margin-top:10px;
}

#adminnotice_frame>#rect{
    width:1135px;
    height:7px;
    background-color:#363636;
    margin:auto;
    border-radius:5px;
}

#adminnotice_frame>#adminnotice_body{
    width:1135px;
    height:800px;
    margin:auto;
}

#adminnotice_body>#adminnotice_table{
    width:1075px;
    margin:auto;
    margin-top:20px;
}
