hr{
    border:0 ;
}
#adminnoticewrite_frame{
    width:1358px;
    height:1044px;
    background-color:#FFFFFF;
    margin:auto;
    border-radius:100px;
}

#adminnoticewrite_frame>#adminnoticewrite_header{
    width:1358px;
    height:190px;
}

#adminnoticewrite_header>a{
    float:left;
    font-size: 48px;
    color:#000000;
    text-align: center;
    margin:auto;
    margin-top:80px;
    margin-left:120px;
}

#adminnoticewrite_header>h2{
    float:left;
    font-size: 48px;
    color:#000000;
    text-align: center;
    margin:auto;
    margin-top:80px;
    margin-left:360px;
}

#adminnoticewrite_header>#write_btn{
    float:left;
    width:145px;
    height:55px;
    font-size: 24px;

    color:#000000;
    text-align: center;
    margin:auto;
    margin-top:90px;
    margin-left:300px;
    border-radius:14px;
}

#write_btn>#write{
    margin:auto;
    margin-top:10px;
}

#adminnoticewrite_frame>#rect{
    width:1135px;
    height:7px;
    background-color:#363636;
    margin:auto;
    border-radius:5px;
}

#adminnoticewrite_body>.adminnoticewrite_title{
    width:600px;
    height:100px;
    margin-top:40px;
    margin-left:410px;
    font-size:28px;
}

.adminnoticewrite_title>label{
    float:left;
}

.adminnoticewrite_title>input{
    display:block;
    float:left;
    width: 350px;
    height: 48px;
    background-color: #FFFFFF;
    border-color: #6A6A6A;
    border-radius: 15px;
    margin-left:10px;
    font-size: 15px;
    color:#6A6A6A;
    box-shadow: none;
}


#adminnoticewrite_body>.adminnoticewrite_content{
    width:950px;
    height:450px;
    margin-top:40px;
    margin-left:210px;
    font-size:28px;
}

.adminnoticewrite_content>label{
    float:left;
}

.adminnoticewrite_content>textarea{
    display:block;
    float:left;
    width: 950px;
    height: 400px;
    margin-top:10px;
    background-color: #FFFFFF;
    border-color: #6A6A6A;
    border-radius: 15px;
    margin-left:10px;
    font-size: 15px;
    color:#6A6A6A;
    box-shadow: none;
}