#lectureportal-menu{
    display: block;
    width: 1358px;
    height: 1080px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 100px;
}

#lectureportal-menu>#header_lectureportal{
    width:1358px;
    height:200px;

}

#header_lectureportal>img{
    display:block;
    width: 162px;
    height: 162px;
    margin:auto;
    object-fit: cover;
}

#header_lectureportal>#user_info{
    display:block;
    width: 238px;
    height: 34px;
    /*background-color: #646464;*/
    margin-left:984px;
}

#lectureportal-menu>#buttons_lectureportal{
    display: block;
    width: 1358px;
    height: 100px;
}

#buttons_lectureportal>#rect{
    position: absolute;
    float:left;
    width: 1086px;
    height: 5px;
    margin: 30px auto auto;
    margin-left:136px;
    z-index: 1;

    background: #7A7A7A;
}

#buttons_lectureportal>input{
    position: relative;
    display:block;
    float:left;
    width: 281px;
    height: 68px;
    background-color: #F6B28E;
    margin: auto 28px;
    z-index: 2;

    font-size: 25px;
    color:aliceblue;
    box-shadow: none;
    border:none;
    outline: none;
}

input>#notice_btn{
    background-color: #E78753;
}

#buttons_lectureportal>input:hover {
    background:#E78753;
    color:#fff;
}

#buttons_lectureportal>#notice_btn{
    margin-left:202px;
}

#lectureportal-menu>#contents_lectureportal{
    display: block;
    width: 1358px;
    height: 700px;
}

#contents_lectureportal>#aboutNotice_lectureportal{
    width: 1190px;
    height: 668px;
    margin:auto;
    margin-top:40px;
    background-color: #363636;
    border-radius: 10px;
}

#aboutNotice_notice>#category_aboutNotice_notice{
    width: 1190px;
    height: 60px;
}

#category_aboutNotice_notice>ul{
    position: absolute;
    width: 759px;
    height: 40px;
    margin-top:10px;
    margin-left:426px;
}

ul>li{
    float: left;
    width: 141px;
    height: 40px;
    background-color: #EAEAEA;
    margin-top:5px;
    margin-left:10px;
    border-radius: 5px;
}

li>a{
    margin-top: 5px;
    display: block;
    font-size: 20px;
    color:#000000;
    box-shadow: none;
    border:none;
    outline: none;
    text-align: center;
}

#aboutNotice_notice>#contents_aboutNotice_notice{
    width: 1156px;
    height: 582px;
    margin:auto;
    background-color: #FFFFFF;
    border-radius: 10px;
}

#contents_aboutNotice_lectureportal{
    float:left;
    width: 1170px;
    height: 612px;
    margin-left:10px;
    border-radius:5px;
    background-color: #EAEAEA;
}

#contents_aboutNotice_lectureportal>#category_contents_lectureportal{
    float:left;
    width: 1150px;
    height: 592px;
    margin-top:10px;
    margin-left:10px;
    background-color: #FFFFFF;
    overflow-y:auto;
    font-size:17px;
}

#category_contents_lectureportal>#num_notice{
    float:left;
    display: block;
    width: 67px;
    height: 30px;
    margin-top:20px;
    margin-left:10px;
    font-weight:bold;

    color:#000000;
    box-shadow: none;
    outline: none;
    text-align: center;
}

#category_contents_lectureportal>#title_notice{
    float:left;
    display: block;
    width: 507px;
    height: 30px;
    margin-top:20px;
    font-weight:bold;

    color:#000000;
    box-shadow: none;
    border:none;
    outline: none;
    text-align: center;
}

#category_contents_lectureportal>#postperson_notice{
    float:left;
    display: block;
    width: 167px;
    height: 30px;
    margin-top:20px;
    font-weight:bold;

    color:#000000;
    box-shadow: none;
    border:none;
    outline: none;
    text-align: center;
}

#category_contents_lectureportal>#postdate_notice{
    float:left;
    display: block;
    width: 310px;
    height: 30px;
    margin-top:20px;
    font-weight:bold;

    color:#000000;
    box-shadow: none;
    border:none;
    outline: none;
    text-align: center;
}

#category_contents_lectureportal>#visit_notice{
    float:left;
    display: block;
    width: 84px;
    height: 30px;
    margin-top:20px;
    font-weight:bold;

    color:#000000;
    box-shadow: none;
    border:none;
    outline: none;
    text-align: center;
}

#category_contents_lectureportal>#No_notice{
    display:block;
    float:left;
    width:200px;
    height:30px;
    margin-top:30px;
    margin-left:500px;
    font-weight:none;
}

#category_contents_lectureportal>.notice_row{
    float:left;
    width:1150px;
    height:40px;
    text-align:center;
    vertical-align:middle;
}

.notice_row>.num_notice_row{
    float:left;
    width:67px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

.notice_row>.title_notice_row{
    float:left;
    width:507px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

.notice_row>.author_notice_row{
    float:left;
    width:167px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

.notice_row>.postDate_notice_row{
    float:left;
    width:310px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

.notice_row>.views_notice_row{
    float:left;
    width:10px;
    height:20px;
    margin-left:45px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

#contents_aboutNotice_lectureportal>#content_material{
    float:left;
    width: 1150px;
    height: 592px;
    margin-top:10px;
    margin-left:10px;
    background-color: #FFFFFF;
    overflow-y:auto;
}

#contents_aboutNotice_lectureportal>#body_contents_lectureportal{
    float:left;
    width: 1150px;
    height: 592px;
    margin-top:10px;
    margin-left:10px;
    background-color: #FFFFFF;
    overflow-y:auto;
}

#body_contents_lectureportal>h2{
    margin-top:5px;
    margin-left:15px;
    margin-bottom:15px;
}

#body_contents_lectureportal>ul>li{
    text-align:center;
}

#body_contents_lectureportal>ul>li>p{
    margin-top:10px;
}

#contents_aboutNotice_lectureportal>#content_assignment{
    float:left;
    width: 1150px;
    height: 592px;
    margin-top:10px;
    margin-left:10px;
    background-color: #FFFFFF;
    overflow-y:auto;
}

#contents_aboutNotice_lectureportal>#content_exam{
    float:left;
    width: 1150px;
    height: 592px;
    margin-top:10px;
    margin-left:10px;
    background-color: #FFFFFF;
    overflow-y:auto;
}

#content_exam>h2{
    margin-top:5px;
    margin-left:15px;
    margin-bottom:15px;
}

#content_exam>#exam_list{
    float:left;
    width:1150px;
    height:30px;
    text-align:center;
    vertical-align:middle;
}

#exam_list>.exam_header{
    float:left;
    width:1150px;
    height:30px;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
}

.exam_header>#no_exam_header{
    float:left;
    width:50px;
    height:30px;
    text-align:center;
    vertical-align:middle;
}

.exam_header>#title_exam_header{
    float:left;
    width:280px;
    height:30px;
    text-align:center;
    vertical-align:middle;
}

.exam_header>#exammethod_exam_header{
    float:left;
    width:80px;
    height:30px;
    text-align:center;
    vertical-align:middle;
}

.exam_header>#opendate_exam_header{
    float:left;
    width:140px;
    height:30px;
    text-align:center;
    vertical-align:middle;
}

.exam_header>#testingtime_exam_header{
    float:left;
    width:250px;
    height:30px;
    text-align:center;
    vertical-align:middle;
}

.exam_header>#testtime_exam_header{
    float:left;
    width:150px;
    height:30px;
    text-align:center;
    vertical-align:middle;
}

.exam_header>#howscore_exam_header{
    float:left;
    width:60px;
    height:30px;
    text-align:center;
    vertical-align:middle;
}

.exam_header>#score_exam_header{
    float:left;
    width:60px;
    height:30px;
    text-align:center;
    vertical-align:middle;
}

.exam_header>#start_exam_header{
    float:left;
    width:80px;
    height:30px;
    text-align:center;
    vertical-align:middle;
}

#exam_list>.NonTest{
    float:left;
    width:150px;
    height:30px;
    margin-top:20px;
    margin-left:500px;
}

#exam_list>.exam_row{
    float:left;
    width:1150px;
    height:40px;
    text-align:center;
    vertical-align:middle;
}

.exam_row>#no_exam_row{
    float:left;
    width:50px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

.exam_row>#title_exam_row{
    float:left;
    width:280px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

.exam_row>#exammethod_exam_row{
    float:left;
    width:80px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

.exam_row>#opendate_exam_row{
    float:left;
    width:140px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

.exam_row>#testingtime_exam_row{
    float:left;
    width:250px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

.exam_row>#testtime_exam_row{
    float:left;
    width:150px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

.exam_row>#howscore_exam_row{
    float:left;
    width:60px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

.exam_row>#score_exam_row{
    float:left;
    width:60px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

.exam_row>#start_exam_row{
    float:left;
    width:80px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}

#lectureportal-menu>#footer_lectureportal{
    width: 1358px;
    height: 130px;
}

#footer_lectureportal>a{
    display:block;
    font-size: 16px;
    color:#838383;
    text-align: center;
    margin:auto;
}

#notice_detail {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#notice_detail h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#notice_detail p {
    font-size: 16px;
    margin-bottom: 8px;
}

#notice_detail button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
