.navbar {
    width: 100%;
    background-color: lightgray;
    padding: 15px 0px;
    text-align: left;
    margin-bottom: 25px;
}

.navbar-menu {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.navbar > .slash {
    margin: 0px 15px;
    color: white;
}