#notice-menu{
    display: block;
    width: 1358px;
    height: 1080px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 100px;
}

#notice-menu>#header_notice{
    width:1358px;
    height:200px;

}

#header_notice>img{
    display:block;
    width: 162px;
    height: 162px;
    margin:auto;
    object-fit: cover;
}

#header_notice>#user_info{
    display:block;
    width: 238px;
    height: 34px;
    background-color: #646464;
    margin-left:984px;
}

#notice-menu>#buttons_notice{
    display: block;
    width: 1358px;
    height: 100px;
}

#buttons_notice>#rect{
    position: absolute;
    float:left;
    width: 1086px;
    height: 5px;
    margin: 30px auto auto;
    margin-left:136px;
    z-index: 1;

    background: #7A7A7A;
}

#buttons_notice>input{
    position: relative;
    display:block;
    float:left;
    width: 281px;
    height: 68px;
    background-color: #F6B28E;
    margin: auto 28px;
    z-index: 2;

    font-size: 25px;
    color:aliceblue;
    box-shadow: none;
    border:none;
    outline: none;
}

input>#notice_btn{
    background-color: #E78753;
}

#buttons_notice>input:hover {
    background:#E78753;
    color:#fff;
}

#buttons_notice>#notice_btn{
    margin-left:202px;
}

#notice-menu>#contents_notice{
    display: block;
    width: 1358px;
    height: 700px;
}

#notice-menu>#footer_notice{
    display: block;
    width: 1358px;
    height: 80px;
}

#footer_notice>a{
    display:block;
    font-size: 16px;
    color:#838383;
    text-align: center;
    margin:auto;
}