#blank_student_register{
    width:100%;
    height:200px;
}
hr{
    border:0 ;
}
#write_student_register{
    position: relative;
    display: block;
    width: 979px;
    height: 666px;
    background-color: #FFFFFF;
    margin: auto;
    border-top: solid 3px #000000;
    margin:0 auto;
}

#write_student_register>#header_student_register{
    width:100%;
    height:100px;
}

#header_student_register>input{
    width:50px;
    height:50px;
    border-radius: 15px;
    margin-top:5px;
    margin-left:5px;

    font-size: 40px;
    color:#000000;
}

#write_student_register>#findinfo_student_register{
    width:100%;
    height:233px;
    background-color:aqua;
}

#findinfo_student_register>a{
    float:left;
    font-size: 20px;
    color:#000000;
    text-align: center;
    font-weight: bold;
    margin:auto;
    margin-top:10px;
}

#findinfo_student_register>input{
    display:block;
    width: 380px;
    height: 48px;
    background-color: #FFFFFF;
    margin:auto;
    margin-top:10px;
    margin-left:15px;
    border-color: #EAEAEA;
    border-radius: 15px;

    font-size: 16px;
    color:#6A6A6A;
    box-shadow: none;
}

#findinfo_student_register>#find_btn{
    display:block;
    width: 55px;
    height: 48px;
    background-color: #FFFFFF;
    margin:auto;
    margin-top:10px;
    margin-left:10px;
    border-color: #EAEAEA;
    border-radius: 15px;

    font-size: 16px;
    color:#6A6A6A;
    box-shadow: none;
}

#write_student_register>#selectinfo_student_register{
    width:100%;
    height:233px;
}

#selectinfo_student_register>#foundinfo{
    width: 500px;
    height:200px;
    background-color:aqua;
    margin:auto;
    margin-top:20px;
}

#write_student_register>#button_student_register{
    width:100%;
    height:100px;
}

#button_student_register>input{
    float:left;
    display:block;
    width: 70px;
    height: 48px;
    background-color: #363636;
    margin-left:610px;
    border-color: #363636;
    border-radius: 15px;

    font-size: 14px;
    color:#FFFFFF;
    box-shadow: none;
}

#footer_student_register{
    width:100%;
    height:114px;
}

#footer_student_register>a{
    display:block;
    font-size: 16px;
    color:#838383;
    text-align:center;
    margin-top:100px;
}