hr{
    border:0 ;
}
#menu_teacherportal{
    float:left;
    width:295px;
    height:1080px;
    background-color:#D9D9D9;
}

#menu_teacherportal>#teacher_info{
    float:left;
    width:295px;
    height:91px;
    background-color:#BCBCBC;
}

#teacher_info>img{
    float:left;
    display:block;
    width: 91px;
    height: 91px;
    margin-left:30px;
    object-fit: cover;
}

#teacher_info>h2{
    float:left;
    margin-top:30px;
    margin-left:15px;
}

#menu_teacherportal>ul>li{
    width:295px;
    height:80px;
    background-color:#D9D9D9;
}

#menu_teacherportal>ul>li:hover{
    width:295px;
    height:80px;
    background-color:#BCBCBC;
}

#menu_teacherportal>ul>li>a{
    margin:auto;
    margin-top:25px;
}

#teacherportal_header{
    width:1920px;
    height:91px;
    background-color:#6F7C86;
    margin:auto;
    min-width:600px;
    max-width:1920px;
}

#contents_teacherportal{
    width:1920px;
    height:989px;
    background-color:#EAEAEA;
}

#contents_teacherportal>#Home_teacherportal{
    width:1920px;
    height:989px;
}

#contents_teacherportal>#Lecturedata_teacherportal{
    width:1920px;
    height:989px;
}

#Lecturedata_teacherportal>h2{
    display:block;
    width:920px;
    height:60px;
    margin-top:10px;
    margin-left:350px;
}

#Lecturedata_teacherportal>#Lecturedata{
    width:1920px;
    height:900px;
}

#List_teacherportal>#List{
    float:left;
    width:1625px;
    height:800px;
    background-color:#FFFFFF;
}

#List>#cate_List{
    width:1625px;
    height:50px;
}

#cate_List>#no{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_List>#title{
    float:left;
    width:900px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_List>#writer{
    float:left;
    width:200px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_List>#writedate{
    float:left;
    width:425px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#List>#rect{
    width:1625px;
    height:7px;
    background-color:#363636;
    margin:auto;
    border-radius:5px;
}

#body_List>#body_no{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_List>#body_title{
    float:left;
    width:900px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_List>#body_writer{
    float:left;
    width:200px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_List>#body_writedate{
    float:left;
    width:425px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#List_teacherportal>button{
    float:right;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin:auto;
    margin-top:22px;
    margin-right:20px;
    font-size:15px;
    color:#FFFFFF;
}

#View_teacherportal>#View{
    float:left;
    width:1625px;
    height:800px;
    background-color:#FFFFFF;
}

#View>#title_View{
    width:1625px;
    height:100px;
    background-color:#FFFFFF;
    font-size:24px;
    margin:auto;

}

#View>#content_View{
    width:1625px;
    height:500px;
    background-color:#FFFFFF;
    font-size:24px;
    margin:auto;

}

#View>#file_View{
    width:1625px;
    height:200px;
    background-color:#FFFFFF;
    font-size:24px;
    margin:auto;

}

#View_teacherportal>#back{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin:auto;
    margin-top:22px;
    margin-left:20px;
    font-size:15px;
    color:#FFFFFF;
}

#View_teacherportal>#revise{
    float:right;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin:auto;
    margin-top:22px;
    margin-right:20px;
    font-size:15px;
    color:#FFFFFF;
}

#Lecturedata>#Write_teacherportal{
     width:1920px;
     height:800px;
}

#Write_teacherportal>#Write{
    width:1920px;
    height:800px;
    background-color:#FFFFFF;
}

#Write>#title_Write{
    width:1920px;
    height:100px;
}

#title_Write>#tWrite{
    margin:auto;
    margin-top:25px;
    float:left;
    width:300px;
    height:50px;
    font-size:24px;
    text-align:right;
}

#title_Write>input{
    float:left;
    width:1000px;
    height:50px;
    margin:auto;
    margin-top:20px;
    margin-left:30px;
    background-color:#FFFFFF;
    font-size:24px;
    text-align:left;
}

#Write>#content_Write{
    width:1920px;
    height:500px;
}

#content_Write>#cWrite{
    margin:auto;
    margin-top:25px;
    float:left;
    width:300px;
    height:400px;
    font-size:24px;
    text-align:right;
}

#content_Write>input{
    float:left;
    width:1000px;
    height:450px;
    margin:auto;
    margin-top:20px;
    margin-left:30px;
    background-color:#FFFFFF;
    font-size:24px;
    text-align:left;
}

#Write>#file_Write{
    width:1920px;
    height:200px;
}

#file_Write>#fWrite{
    margin:auto;
    margin-top:25px;
    float:left;
    width:300px;
    height:100px;
    font-size:24px;
    text-align:right;
}

#file_Write>input{
    float:left;
    width:1000px;
    height:50px;
    margin:auto;
    margin-top:20px;
    margin-left:30px;
    background-color:#FFFFFF;
    font-size:24px;
    text-align:left;
}

#file_Write>#find{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin:auto;
    margin-top:22px;
    margin-left:20px;
    font-size:15px;
    color:#FFFFFF;
}

#Write_teacherportal>#save{
    float:right;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin:auto;
    margin-top:22px;
    margin-right:20px;
    font-size:15px;
    color:#FFFFFF;
}

/*수정할때 쓰는*/

#Lecturedata>#reviseWrite_teacherportal{
     width:1920px;
     height:800px;
}

#reviseWrite_teacherportal>#reviseWrite{
    width:1920px;
    height:800px;
    background-color:#FFFFFF;
}

#reviseWrite>#title_reviseWrite{
    width:1920px;
    height:100px;
}

#title_reviseWritee>#treviseWrite{
    margin:auto;
    margin-top:25px;
    float:left;
    width:300px;
    height:50px;
    font-size:24px;
    text-align:right;
}

#title_reviseWrite>input{
    float:left;
    width:1000px;
    height:50px;
    margin:auto;
    margin-top:20px;
    margin-left:30px;
    background-color:#FFFFFF;
    font-size:24px;
    text-align:left;
}

#reviseWrite>#content_reviseWrite{
    width:1920px;
    height:500px;
}

#content_reviseWrite>#creviseWrite{
    margin:auto;
    margin-top:25px;
    float:left;
    width:300px;
    height:400px;
    font-size:24px;
    text-align:right;
}

#content_reviseWrite>input{
    float:left;
    width:1000px;
    height:450px;
    margin:auto;
    margin-top:20px;
    margin-left:30px;
    background-color:#FFFFFF;
    font-size:24px;
    text-align:left;
}

#reviseWrite>#file_reviseWrite{
    width:1920px;
    height:200px;
}

#file_reviseWrite>#freviseWrite{
    margin:auto;
    margin-top:25px;
    float:left;
    width:300px;
    height:100px;
    font-size:24px;
    text-align:right;
}

#file_reviseWrite>input{
    float:left;
    width:1000px;
    height:50px;
    margin:auto;
    margin-top:20px;
    margin-left:30px;
    background-color:#FFFFFF;
    font-size:24px;
    text-align:left;
}

#file_reviseWrite>#find{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin:auto;
    margin-top:22px;
    margin-left:20px;
    font-size:15px;
    color:#FFFFFF;
}

#reviseWrite_teacherportal>#revise_save{
    float:right;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin:auto;
    margin-top:22px;
    margin-right:20px;
    font-size:15px;
    color:#FFFFFF;
}

/*과제*/

#Assignment_teacherportal>#but{
    width:1920px;
    height:80px;
}

#but>h2{
    float:left;
    display:block;
    width:500px;
    height:60px;
    margin-top:10px;
    margin-left:70px;
}

#but>#add_btn{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    margin-left:870px;
    font-size:15px;
    color:#FFFFFF;
}

#Assignment>#rect{
    width:1920px;
    height:7px;
    background-color:#363636;
    margin:auto;
    border-radius:5px;
}

#Assignment_teacherportal>#Assignment{
    width:1920px;
    height:800px;
    background-color:#FFFFFF;
}

#Assignment>#cate_Assignment{
    width:1920px;
    height:50px;
}

#cate_Assignment>#no{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Assignment>#title{
    float:left;
    width:500px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Assignment>#submission{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Assignment>#score{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Assignment>#estimation{
    float:left;
    width:125px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Assignment>#opendate{
    float:left;
    width:350px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Assignment>#closedate{
    float:left;
    width:350px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#List>#rect{
    width:1625px;
    height:7px;
    background-color:#363636;
    margin:auto;
    border-radius:5px;
}

#body_Assignment>#Ano{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_Assignment>#Atitle{
    float:left;
    width:500px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_Assignment>#Asubmission{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_Assignment>#Ascore{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_Assignment>#Aestimation{
    float:left;
    width:125px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_Assignment>#Aopendate{
    float:left;
    width:350px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_Assignment>#Aclosedate{
    float:left;
    width:350px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

/* 과제 추가 */

#Assignmentadd_teacherportal>#but{
    width:1920px;
    height:80px;
}

#but>h2{
    float:left;
    display:block;
    width:500px;
    height:60px;
    margin-top:20px;
    margin-left:70px;
}

#title_Assignmentadd{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#title_Assignmentadd>h2{
    float:left;
    width:100px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#title_Assignmentadd>input{
    float:left;
    width:1200px;
    height:30px;
    margin-top:7px;
    margin-left:40px;
}

#method_Assignmentadd{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#method_Assignmentadd>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#method_Assignmentadd>select{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#date_Assignmentadd{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#date_Assignmentadd>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#date_Assignmentadd>input{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#score_Assignmentadd{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#score_Assignmentadd>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#score_Assignmentadd>input{
    float:left;
    width:100px;
    height:30px;
    margin-top:7px;
}

#content_Assignmentadd{
    width:1920px;
    height:500px;
    background-color:#FFFFFF;
}

#content_Assignmentadd>input{
    width:1400px;
    height:450px;
    margin:auto;
    margin-top:30px;
    margin-left:110px;
}

#file_Assignmentadd{
    width:1920px;
    height:100px;
    background-color:#FFFFFF;
}

#file_Assignmentadd>input{
    width:1000px;
    height:50px;
    margin:auto;
    margin-top:30px;
    margin-left:120px;
}

#buttons_Assignmentadd{
    width:1920px;
    height:100px;
    background-color:#FFFFFF;
}

#buttons_Assignmentadd>button{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    font-size:15px;
    color:#FFFFFF;
}

#buttons_Assignmentadd>#save{
    margin-left:1350px;
}

#buttons_Assignmentadd>#back{
    margin-left:20px;
}

/* 과제 읽는 */
#Assignmentread_teacherportal>#but{
    width:1920px;
    height:80px;
}

#but>h2{
    float:left;
    display:block;
    width:500px;
    height:60px;
    margin-top:20px;
    margin-left:70px;
}

#title_Assignmentread{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#title_Assignmentread>h2{
    float:left;
    width:100px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#title_Assignmentread>#Assignmentread_title{
    float:left;
    width:1200px;
    height:30px;
    margin-top:7px;
    margin-left:40px;
}

#method_Assignmentread{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#method_Assignmentread>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#method_Assignmentread>#Assignmentread_method{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#date_Assignmentread{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#date_Assignmentread>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#date_Assignmentread>#Assignmentread_opendate{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#date_Assignmentread>#Assignmentread_closedate{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#score_Assignmentread{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#score_Assignmentread>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#score_Assignmentread>#Assignmentread_score{
    float:left;
    width:100px;
    height:30px;
    margin-top:7px;
}

#content_Assignmentread{
    width:1920px;
    height:500px;
    background-color:#FFFFFF;
}

#content_Assignmentread>#Assignmentread_content{
    width:1400px;
    height:450px;
    margin:auto;
    margin-top:30px;
    margin-left:110px;
}

#file_Assignmentread{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#file_Assignmentread>#Assignmentread_file{
    width:800px;
    height:50px;
    margin:auto;
    margin-top:30px;
    margin-left:120px;
}

#buttons_Assignmentread{
    width:1920px;
    height:100px;
}

#buttons_Assignmentread>button{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    font-size:15px;
    color:#FFFFFF;
}

#buttons_Assignmentread>#save{
    margin-left:1200px;
}

#buttons_Assignmentread>#delete{
    margin-left:20px;
}

#buttons_Assignmentread>#back{
    margin-left:20px;
}