hr{
    border:0 ;
}
#menu_teacherportal{
    float:left;
    width:295px;
    height:1080px;
    background-color:#D9D9D9;
}

#menu_teacherportal>#teacher_info{
    float:left;
    width:295px;
    height:91px;
    background-color:#BCBCBC;
}

#teacher_info>img{
    float:left;
    display:block;
    width: 91px;
    height: 91px;
    margin-left:30px;
    object-fit: cover;
}

#teacher_info>h2{
    float:left;
    margin-top:30px;
    margin-left:15px;
}

#menu_teacherportal ul li {
    width: 285px;
    height: 80px;
    background-color: #D9D9D9;
    cursor: pointer;
    /*border-bottom: 1px solid #BCBCBC;*/
}
/*
#menu_teacherportal ul li:hover {
    background-color: #BCBCBC;
    cursor: pointer;
}
*/
#menu_teacherportal ul li a {
    display: block;
    text-align: center;
    margin-top: 25px;
}

#teacherportal_header{
    width:1920px;
    height:91px;
    background-color:#6F7C86;
    margin:auto;
    min-width:600px;
    max-width:1920px;
}

#contents_teacherportal{
    width:1920px;
    height:989px;
    background-color:#EAEAEA;
}

#contents_teacherportal>#Home_teacherportal{
    width:1920px;
    height:989px;
}

#contents_teacherportal>#Lecturedata_teacherportal{
    width:1920px;
    height:989px;
}

#Lecturedata_teacherportal>#Lecturedata{
    width:1920px;
    height:900px;
}

#List_teacherportal{
    float:left;
    width:1625px;
    height:880px;
    background-color:#FFFFFF;
}

#Lecturedata_teacherportal>#button_List_teacherportal{
    float:left;
    width:1625px;
    height:80px;
    background-color:#EAEAEA;
}

#button_List_teacherportal>h2{
    float:left;
    display:block;
    width:500px;
    height:60px;
    margin-top:20px;
    margin-left:70px;
}

#button_List_teacherportal>button{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    margin-left:870px;
    font-size:15px;
    color:#FFFFFF;
}

#List_teacherportal>#cate_List{
    width:1625px;
    height:50px;
}

#cate_List>#no{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_List>#title{
    float:left;
    width:900px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_List>#writer{
    float:left;
    width:200px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_List>#writedate{
    float:left;
    width:425px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#List>#rect{
    width:1625px;
    height:7px;
    background-color:#363636;
    margin:auto;
    border-radius:5px;
}

#body_List>#body_no{
    float:left;
    width:80px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_List>#body_title{
    float:left;
    width:920px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
    cursor: pointer;
}

#body_List>#body_writer{
    float:left;
    width:200px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_List>#body_writedate{
    float:left;
    width:425px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#View_teacherportal>#View{
    float:left;
    width:1625px;
    height:800px;
}

#View>#View_title{
    float:left;
    width:1500px;
    height:50px;
    background-color:#FFFFFF;
    margin:auto;
    margin-left:63px;
}

#View_title>h2{
    float:left;
    width:100px;
    height:50px;
    font-size:24px;
    margin-top:7px;
    margin-left:70px;
}

#View_title>#title_View{
    float:left;
    width:500px;
    height:50px;
    font-size:24px;
    margin-top:7px;

}

#View>#content_View{
    width:1460px;
    height:460px;
    background-color:#FFFFFF;
    font-size:24px;
    margin:auto;
    margin-top:70px;
    padding: 20px;
}

#View>#file_View{
    float:left;
    width:1460px;
    height:160px;
    background-color:#FFFFFF;
    font-size:24px;
    margin:auto;
    margin-top:40px;
    margin-left:63px;
    padding: 20px;
}

#View>#back{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin:auto;
    margin-top:22px;
    margin-left:20px;
    font-size:15px;
    color:#FFFFFF;
}

#View>#revise{
    float:right;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin:auto;
    margin-top:22px;
    margin-right:20px;
    font-size:15px;
    color:#FFFFFF;
}

#View>#delete{
    float:right;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin:auto;
    margin-top:22px;
    margin-right:20px;
    font-size:15px;
    color:#FFFFFF;
}

#Lecturedata>#Write_teacherportal{
    float:left;
    width:1625px;
    height:800px;
}

#Write_teacherportal>#Write{
    float:left;
    width:1625px;
    height:800px;
}

#Write>#title_Write{
    float:left;
    width:1500px;
    height:50px;
    background-color:#FFFFFF;
    margin:auto;
    margin-left:63px;
}

#title_Write>h2{
    float:left;
    width:100px;
    height:50px;
    font-size:24px;
    margin-top:7px;
    margin-left:70px;
}

#title_Write>input{
    float:left;
    width:1200px;
    height:40px;
    font-size:24px;
    margin-top:3px;
}

#Write>#content_Write{
    width:1460px;
    height:460px;
    background-color:#FFFFFF;
    font-size:24px;
    margin:auto;
    margin-top:70px;
    padding: 20px;
}

#content_Write>textarea{
    width:1400px;
    height:450px;
    margin-left:30px;
    background-color:#FFFFFF;
    resize: none;
    font-size:24px;
    font-align:left;
    vertical-align: top;
}

#Write>#file_Write{
    float:left;
    width:1460px;
    height:160px;
    background-color:#FFFFFF;
    font-size:24px;
    margin:auto;
    margin-top:40px;
    margin-left:63px;
    padding: 20px;
}

#file_Write>#fWrite{
    margin:auto;
    margin-top:25px;
    float:left;
    width:300px;
    height:100px;
    font-size:24px;
    text-align:right;
}

#file_Write>input{
    float:left;
    width:1000px;
    height:50px;
    margin:auto;
    margin-left:30px;
    background-color:#FFFFFF;
    font-size:24px;
    text-align:left;
}

#Write_teacherportal>#save{
    float:right;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin:auto;
    margin-top:32px;
    margin-right:80px;
    font-size:15px;
    color:#FFFFFF;
}

/*수정할때 쓰는*/

#Lecturedata>#reviseWrite_teacherportal{
    float:left;
    width:1625px;
    height:800px;
}

#reviseWrite_teacherportal>#reviseWrite{
    float:left;
    width:1625px;
    height:800px;
}

#reviseWrite>#title_reviseWrite{
    float:left;
    width:1500px;
    height:50px;
    background-color:#FFFFFF;
    margin:auto;
    margin-left:63px;
}

#title_reviseWrite>h2{
    float:left;
    width:100px;
    height:50px;
    font-size:24px;
    margin-top:7px;
    margin-left:70px;
}

#title_reviseWrite>input{
    float:left;
    width:1200px;
    height:40px;
    font-size:24px;
    margin-top:3px;
}

#reviseWrite>#content_reviseWrite{
    width:1460px;
    height:460px;
    background-color:#FFFFFF;
    font-size:24px;
    margin:auto;
    margin-top:70px;
    padding: 20px;
}

#content_reviseWrite>textarea{
    width:1400px;
    height:450px;
    margin-left:30px;
    background-color:#FFFFFF;
    resize: none;
    font-size:24px;
    font-align:left;
    vertical-align: top;
}

#reviseWrite>#file_reviseWrite{
    float:left;
    width:1460px;
    height:160px;
    background-color:#FFFFFF;
    font-size:24px;
    margin:auto;
    margin-top:40px;
    margin-left:63px;
    padding: 20px;
}

#file_reviseWrite>input{
    float:left;
    width:1000px;
    height:50px;
    margin:auto;
    margin-left:30px;
    background-color:#FFFFFF;
    font-size:24px;
    text-align:left;
}

#reviseWrite_teacherportal>#revise_save{
    float:right;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin:auto;
    margin-top:32px;
    margin-right:80px;
    font-size:15px;
    color:#FFFFFF;
}

/*과제*/

#Assignment_teacherportal>#but{
    width:1920px;
    height:80px;
}

#but>h2{
    float:left;
    display:block;
    width:500px;
    height:60px;
    margin-top:10px;
    margin-left:70px;
}

#but>#add_btn{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    margin-left:870px;
    font-size:15px;
    color:#FFFFFF;
}

#Assignment>#rect{
    width:1920px;
    height:7px;
    background-color:#363636;
    margin:auto;
    border-radius:5px;
}

#Assignment_teacherportal>#Assignment{
    width:1920px;
    height:800px;
    background-color:#FFFFFF;
}

#Assignment>#cate_Assignment{
    width:1920px;
    height:50px;
}

#cate_Assignment>#no{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Assignment>#title{
    float:left;
    width:500px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Assignment>#submission{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Assignment>#score{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Assignment>#estimation{
    float:left;
    width:125px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Assignment>#opendate{
    float:left;
    width:350px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Assignment>#closedate{
    float:left;
    width:350px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#List>#rect{
    width:1625px;
    height:7px;
    background-color:#363636;
    margin:auto;
    border-radius:5px;
}

#body_Assignment>#Ano{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_Assignment>#Atitle{
    float:left;
    width:500px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
    cursor: pointer;
}

#body_Assignment>#Asubmission{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_Assignment>#Ascore{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_Assignment>#Aestimation{
    float:left;
    width:125px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_Assignment>#Aopendate{
    float:left;
    width:350px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_Assignment>#Aclosedate{
    float:left;
    width:350px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

/* 과제 추가 */

#Assignmentadd_teacherportal>#but{
    width:1920px;
    height:80px;
}

#but>h2{
    float:left;
    display:block;
    width:500px;
    height:60px;
    margin-top:20px;
    margin-left:70px;
}

#title_Assignmentadd{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#title_Assignmentadd>h2{
    float:left;
    width:100px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#title_Assignmentadd>input{
    float:left;
    width:1200px;
    height:30px;
    margin-top:7px;
    margin-left:40px;
}

#method_Assignmentadd{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#method_Assignmentadd>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#method_Assignmentadd>select{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#date_Assignmentadd{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#date_Assignmentadd>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#date_Assignmentadd>input{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#score_Assignmentadd{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#score_Assignmentadd>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#score_Assignmentadd>#Assignmentadd_score{
    float:left;
    width:100px;
    height:30px;
    margin-top:7px;
    margin-right:100px;
}

#score_Assignmentadd>#Assignmentadd_scorePublished{
    width:20px;
    height:20px;
    margin-top:12px;
}

#content_Assignmentadd{
    width:1920px;
    height:500px;
    background-color:#FFFFFF;
}

#content_Assignmentadd>input{
    width:1400px;
    height:450px;
    margin:auto;
    margin-top:30px;
    margin-left:110px;
}

#file_Assignmentadd{
    width:1920px;
    height:100px;
    background-color:#FFFFFF;
}

#file_Assignmentadd>input{
    width:1000px;
    height:50px;
    margin:auto;
    margin-top:30px;
    margin-left:120px;
}

#buttons_Assignmentadd{
    width:1920px;
    height:100px;
    background-color:#FFFFFF;
}

#buttons_Assignmentadd>button{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    font-size:15px;
    color:#FFFFFF;
}

#buttons_Assignmentadd>#save{
    margin-left:1350px;
}

#buttons_Assignmentadd>#back{
    margin-left:20px;
}

/* 과제 읽는 */
#Assignmentread_teacherportal>#but{
    width:1920px;
    height:80px;
}

#but>h2{
    float:left;
    display:block;
    width:500px;
    height:60px;
    margin-top:20px;
    margin-left:70px;
}

#title_Assignmentread{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#title_Assignmentread>h2{
    float:left;
    width:100px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#title_Assignmentread>#Assignmentread_title{
    float:left;
    width:1200px;
    height:30px;
    margin-top:7px;
    margin-left:40px;
}

#method_Assignmentread{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#method_Assignmentread>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#method_Assignmentread>#Assignmentread_method{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#date_Assignmentread{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#date_Assignmentread>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#date_Assignmentread>#Assignmentread_opendate{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#date_Assignmentread>#Assignmentread_closedate{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#score_Assignmentread{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#score_Assignmentread>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#score_Assignmentread>#Assignmentread_score{
    float:left;
    width:100px;
    height:30px;
    margin-top:7px;
    margin-right:100px;
}

#score_Assignmentread>#Assignmentread_scorePublished{
float:left;
    width:20px;
    height:20px;
    margin-top:12px;
}

#content_Assignmentread{
    width:1920px;
    height:500px;
    background-color:#FFFFFF;
}

#content_Assignmentread>#Assignmentread_content{
    width:1400px;
    height:450px;
    margin:auto;
    margin-top:30px;
    margin-left:330px;
}

#Assignmentread_content>#padding_Assignmentread_content{
    width:1400px;
    height:20px;
    margin:auto;
    margin-top:30px;
    margin-left:330px;
}

#file_Assignmentread{
    width:1920px;
    height:80px;
    background-color:#FFFFFF;
}

#file_Assignmentread>#Assignmentread_file{
    width:800px;
    height:80px;
    margin:auto;
    margin-top:30px;
    margin-left:120px;
}

#buttons_Assignmentread{
    width:1920px;
    height:70px;
}

#buttons_Assignmentread>button{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:7px;
    font-size:15px;
    color:#FFFFFF;
}

#buttons_Assignmentread>#save{
    margin-left:1050px;
}

#buttons_Assignmentread>#delete{
    margin-left:20px;
}

#buttons_Assignmentread>#estimation{
    margin-left:20px;
}

#buttons_Assignmentread>#back{
    margin-left:20px;
}

/* 과목 공지 */
#Subject_teacherportal>#but{
    width:1920px;
    height:80px;
}

#but>h2{
    float:left;
    display:block;
    width:500px;
    height:60px;
    margin-top:20px;
    margin-left:70px;
}

#but>#add_btn{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    margin-left:870px;
    font-size:15px;
    color:#FFFFFF;
}

#Subject_teacherportal>#Subject>#rect{
    width:1920px;
    height:7px;
    background-color:#363636;
    margin:auto;
    border-radius:5px;
}

#Subject_teacherportal>#Subject{
    width:1920px;
    height:800px;
    background-color:#FFFFFF;
}

#Subject>#cate_Subject{
    width:1920px;
    height:50px;
}

#cate_Subject>#no{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Subject>#title{
    float:left;
    width:920px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#cate_Subject>#author {
    float: left;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    margin: auto;
    margin-top: 5px;
}

#cate_Subject>#opendate{
    float:left;
    width:400px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#Subject>#rect{
    width:1625px;
    height:7px;
    background-color:#363636;
    margin:auto;
    border-radius:5px;
}

#body_Subject>#Sno{
    float:left;
    width:100px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

#body_Subject>#Stitle{
    float:left;
    width:920px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
    cursor: pointer;
}

#body_Subject>#Sauthor {
    float: left;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    margin: auto;
    margin-top: 5px;
}

#body_Subject>#Sopendate{
    float:left;
    width:400px;
    height:50px;
    text-align:center;
    font-size:24px;
    margin:auto;
    margin-top:5px;
}

/* 과목 추가 */

#Subjectadd_teacherportal>#but{
    width:1920px;
    height:80px;
}

#but>h2{
    float:left;
    display:block;
    width:500px;
    height:60px;
    margin-top:20px;
    margin-left:70px;
}

#title_Subjectadd{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#title_Subjectadd>h2{
    float:left;
    width:100px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#title_Subjectadd>input{
    float:left;
    width:1200px;
    height:30px;
    margin-top:7px;
    margin-left:40px;
}

#content_Subjectadd{
    width:1920px;
    height:600px;
    background-color:#FFFFFF;
}

#content_Subjectadd>input{
    width:1400px;
    height:550px;
    margin:auto;
    margin-top:30px;
    margin-left:110px;
}

#file_Subjectadd{
    width:1920px;
    height:100px;
    background-color:#FFFFFF;
}

#file_Subjectadd>input{
    width:1000px;
    height:50px;
    margin:auto;
    margin-top:30px;
    margin-left:120px;
}

#buttons_Subjectadd{
    width:1920px;
    height:100px;
    background-color:#FFFFFF;
}

#buttons_Subjectadd>button{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    font-size:15px;
    color:#FFFFFF;
}

#buttons_Subjectadd>#save{
    margin-left:1350px;
}

#buttons_Subjectadd>#back{
    margin-left:20px;
}

/* 과목 공지 읽는 */
#Subjectread_teacherportal{
    float:left;
    width:1625px;
    height:800px;
}

#Subjectread_teacherportal>#but{
    width:1625px;
    height:80px;
}

#but>h2{
    float:left;
    display:block;
    width:500px;
    height:60px;
    margin-top:20px;
    margin-left:70px;
}

#Subjectread_teacherportal>#title_Subjectread{
    float:left;
    width:1500px;
    height:50px;
    background-color:#FFFFFF;
    margin:auto;
    margin-left:63px;
}

#title_Subjectread>h2{
    float:left;
    width:100px;
    height:50px;
    font-size:24px;
    margin-top:7px;
    margin-left:70px;
}

#title_Subjectread>#Subjectread_title{
    float:left;
    width:500px;
    height:50px;
    font-size:24px;
    margin-top:7px;
}

#Subjectread_teacherportal>#content_Subjectread{
    width:1460px;
    height:460px;
    background-color:#FFFFFF;
    font-size:24px;
    margin:auto;
    margin-top:70px;
    padding: 20px;
}

#Subjectread_teacherportal>#file_Subjectread{
    float:left;
    width:1460px;
    height:160px;
    background-color:#FFFFFF;
    font-size:24px;
    margin:auto;
    margin-top:40px;
    margin-left:63px;
    padding: 20px;
}

#buttons_Subjectread{
    float:left;
    width:1625px;
    height:100px;
}

#buttons_Subjectread>button{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    font-size:15px;
    color:#FFFFFF;
}

#buttons_Subjectread>#revise{
    margin-left:1200px;
}

#buttons_Subjectread>#delete{
    margin-left:20px;
}

#buttons_Subjectread>#back{
    margin-left:20px;
}

/* 과목 공지 수정 */
#Subjectedit_teacherportal{
    float:left;
    width:1625px;
    height:800px;
}

#Subjectedit_teacherportal>#but{
    width:1625px;
    height:80px;
}

#but>h2{
    float:left;
    display:block;
    width:500px;
    height:60px;
    margin-top:20px;
    margin-left:70px;
}

#Subjectedit_teacherportal>#title_Subjectedit{
    float:left;
    width:1500px;
    height:50px;
    background-color:#FFFFFF;
    margin:auto;
    margin-left:63px;
}

#title_Subjectedit>h2{
    float:left;
    width:100px;
    height:50px;
    font-size:24px;
    margin-top:7px;
    margin-left:70px;
}

#title_Subjectedit>#Subjectedit_title{
    float:left;
    width:1200px;
    height:40px;
    font-size:24px;
    margin-top:3px;
}

#Subjectedit_teacherportal>#content_Subjectedit{
    width:1460px;
    height:460px;
    background-color:#FFFFFF;
    font-size:24px;
    margin:auto;
    margin-top:70px;
    padding: 20px;
}

#content_Subjectedit>textarea{
    width:1400px;
    height:450px;
    margin-left:30px;
    background-color:#FFFFFF;
    resize: none;
    font-size:24px;
    font-align:left;
    vertical-align: top;
}

#Subjectedit_teacherportal>#file_Subjectedit{
    float:left;
    width:1460px;
    height:160px;
    background-color:#FFFFFF;
    font-size:24px;
    margin:auto;
    margin-top:40px;
    margin-left:63px;
    padding: 20px;
}

#buttons_Subjectedit{
    float:left;
    width:1625px;
    height:100px;
}

#buttons_Subjectedit>button{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    font-size:15px;
    color:#FFFFFF;
}

#buttons_Subjectedit>#save{
    margin-left:1323px;
}

#buttons_Subjectedit>#back{
    margin-left:20px;
}

/* 과제 수정 */
#Assignmentrevise_teacherportal>#but{
    width:1920px;
    height:80px;
}

#but>h2{
    float:left;
    display:block;
    width:500px;
    height:60px;
    margin-top:20px;
    margin-left:70px;
}

#title_Assignmentrevise{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#title_Assignmentrevise>h2{
    float:left;
    width:100px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#title_Assignmentrevise>input{
    float:left;
    width:1200px;
    height:30px;
    margin-top:7px;
    margin-left:40px;
}

#method_Assignmentrevise{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#method_Assignmentrevise>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#method_Assignmentrevise>select{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#date_Assignmentrevise{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#date_Assignmentrevise>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#date_Assignmentrevise>input{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#score_Assignmentrevise{
    width:1920px;
    height:50px;
    background-color:#FFFFFF;
}

#score_Assignmentrevise>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#score_Assignmentrevise>#Assignmentrevise_score{
    float:left;
    width:100px;
    height:30px;
    margin-top:7px;
    margin-right:100px;
}

#score_Assignmentrevise>#Assignmentrevise_scorePublished{
    float:left;
    width:20px;
    height:20px;
    margin-top:12px;
}

#content_Assignmentrevise{
    width:1920px;
    height:500px;
    background-color:#FFFFFF;
}

#content_Assignmentrevise>textarea{
    width:1400px;
    height:450px;
    margin:auto;
    margin-top:30px;
    margin-left:110px;
    font-size:20px;
    resize:none;
    text-align:left;
    vertical-align:top;
}

#file_Assignmentrevise{
    float:left;
    width:1625px;
    height:130px;
    background-color:#FFFFFF;
}

#file_Assignmentrevise>input{
    width:1000px;
    height:50px;
    margin:auto;
    margin-top:30px;
    margin-left:120px;
}

#file_Assignmentrevise>#existing_Assignmentrevise_file{
    width:1000px;
    height: 50px;
    margin-left:120px;
}

#buttons_Assignmentrevise{
    width:1920px;
    height:100px;
}

#buttons_Assignmentrevise>button{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    font-size:15px;
    color:#FFFFFF;
}

#buttons_Assignmentrevise>#revise_save{
    margin-left:1350px;
}

#buttons_Assignmentrevise>#back{
    margin-left:20px;
}

/* home */

#Home_teacherportal>#info{
    width:1920px;
    height:250px;
}

#info>h2{
    float:left;
    width:103px;
    height:51px;
    margin-top:20px;
    margin-left:150px;
}

#info>#revise{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:10px;
    margin-left:1100px;
    font-size:15px;
    color:#FFFFFF;
}

#info>#infobox{
    float:left;
    width:1400px;
    height:120px;
    font-size:15px;
    margin:auto;
    margin-top:10px;
    margin-left:110px;
    background-color:#FFFFFF;
}

#infobox>#subjecttitle{
    float:left;
    width:700px;
    height:50px;
    margin-top:20px;
}

#subjecttitle>h2{
    float:left;
    width:150px;
    height:30px;
    margin-top:10px;
    text-align:center;
    border-right: 2px solid black;
}

#subjecttitle>#infobox_subjecttitle{
    float:left;
    width:500px;
    height:30px;
    margin-top:9px;
    text-align:center;
    font-size:20px;
}

#infobox>#lecturetime{
    float:left;
    width:700px;
    height:50px;
    margin-top:20px;
}

#lecturetime>h2{
    float:left;
    width:150px;
    height:30px;
    margin-top:10px;
    text-align:center;
    border-right: 2px solid black;
}

#lecturetime>#infobox_lecturetime{
    float:left;
    width:500px;
    height:30px;
    margin-top:9px;
    text-align:center;
    font-size:20px;
}

#infobox>#lectureplace{
    float:left;
    width:700px;
    height:50px;
    margin-top:10px;
}

#lectureplace>h2{
    float:left;
    width:150px;
    height:30px;
    margin-top:10px;
    text-align:center;
    border-right: 2px solid black;
}

#lectureplace>#infobox_lectureplace{
    float:left;
    width:500px;
    height:30px;
    margin-top:9px;
    text-align:center;
    font-size:20px;
}

#infobox>#teacher{
    float:left;
    width:700px;
    height:50px;
    margin-top:10px;
}

#teacher>h2{
    float:left;
    width:150px;
    height:30px;
    margin-top:10px;
    text-align:center;
    border-right: 2px solid black;
}

#teacher>#infobox_teacher{
    float:left;
    width:500px;
    height:30px;
    margin-top:9px;
    text-align:center;
    font-size:20px;
}

#Home_teacherportal>#subcontent{
    float:left;
    width:1400px;
    height:350px;
    margin-left:110px;
}

#subcontent>h2{
    margin-left:40px;
}

#subcontent>#info_subcontent{
    width:1400px;
    height:300px;
    margin:auto;
    margin-top:10px;
    background-color:#FFFFFF;
}

#info_subcontent>#content_subcontent{
    width:1350px;
    height:280px;
    margin: 0 auto;
}

#content_subcontent>#blank_content_subcontent{
    width:1350px;
    height:15px;
    margin: 0 auto;
}

#Home_teacherportal>#weekplan{
    float:left;
    width:1400px;
    height:350px;
    margin-left:110px;
}

#weekplan>h2{
    margin-top:10px;
    margin-left:40px;
}

#weekplan>#info_weekplan{
    width:1400px;
    height:300px;
    margin:auto;
    margin-top:10px;
    background-color:#FFFFFF;
}

#info_weekplan>#content_weekplan{
    width:1350px;
    height:280px;
    margin: 0 auto;
}

#content_weekplan>#blank_content_weekplan{
    width:1350px;
    height:15px;
    margin: 0 auto;
}

/* home 수정*/

#Homerevise_teacherportal>#info{
    width:1920px;
    height:250px;
}

#info>h2{
    float:left;
    width:103px;
    height:51px;
    margin-top:20px;
    margin-left:150px;
}

#info>#save{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:10px;
    margin-left:1100px;
    font-size:15px;
    color:#FFFFFF;
}

#info>#infobox{
    float:left;
    width:1400px;
    height:150px;
    font-size:15px;
    margin:auto;
    margin-top:10px;
    margin-left:110px;
    background-color:#FFFFFF;
}

#infobox>#subjecttitle{
    float:left;
    width:700px;
    height:50px;
    margin-top:10px;
}

#subjecttitle>h2{
    float:left;
    width:150px;
    height:30px;
    margin-top:10px;
    text-align:center;
    border-right: 2px solid black;
}

#subjecttitle>#Homerevise_subjecttitle{
    float:left;
    width:500px;
    height:30px;
    margin-top:9px;
    text-align:center;
    font-size:20px;
}

#infobox>#lecturetime{
    float:left;
    width:700px;
    height:50px;
    margin-top:10px;
}

#lecturetime>h2{
    float:left;
    width:150px;
    height:30px;
    margin-top:10px;
    text-align:center;
    border-right: 2px solid black;
}

#lecturetime>#Homerevise_lecturetime{
    float:left;
    width:500px;
    height:30px;
    margin-top:9px;
    text-align:center;
    font-size:20px;
}

#infobox>#lectureplace{
    float:left;
    width:700px;
    height:50px;
    margin-top:10px;
}

#lectureplace>h2{
    float:left;
    width:150px;
    height:30px;
    margin-top:10px;
    text-align:center;
    border-right: 2px solid black;
}

#lectureplace>#Homerevise_lectureplace{
    float:left;
    width:500px;
    height:30px;
    margin-top:9px;
    text-align:center;
    font-size:20px;
}

#infobox>#teacher{
    float:left;
    width:700px;
    height:50px;
    margin-top:10px;
}

#teacher>h2{
    float:left;
    width:150px;
    height:30px;
    margin-top:10px;
    text-align:center;
    border-right: 2px solid black;
}

#teacher>#Homerevise_teacher{
    float:left;
    width:500px;
    height:30px;
    margin-top:9px;
    text-align:center;
    font-size:20px;
}

#Homerevise_teacherportal>#subcontent{
    float:left;
    width:1400px;
    height:350px;
    margin-left:110px;
}

#subcontent>h2{
    margin-left:40px;
}

#subcontent>#Homerevise_subcontent{
    width:1400px;
    height:300px;
    margin:auto;
    margin-top:10px;
    background-color:#FFFFFF;
}

#Homerevise_teacherportal>#weekplan{
    float:left;
    width:1400px;
    height:350px;
    margin-left:110px;
}

#weekplan>h2{
    margin-left:40px;
}

#weekplan>#Homerevise_weekplan{
    width:1400px;
    height:300px;
    margin:auto;
    margin-top:10px;
    background-color:#FFFFFF;
}

/* 시험 관리 */

#Exam_teacherportal{
    float:left;
    width:1625px;
    height:900px;
}

#Exam_teacherportal>#but{
    width:1625px;
    height:80px;
}

#Exam_teacherportal>#Exam{
    width:1625px;
    height:800px;
    background-color:#FFFFFF;
}

#Exam>#cate_Exam{
    width:1625px;
    height:50px;
}

#cate_Exam>#no{
    float:left;
    width:60px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#cate_Exam>#title{
    float:left;
    width:330px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#cate_Exam>#method{
    float:left;
    width:120px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#cate_Exam>#opendate{
    float:left;
    width:260px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#cate_Exam>#examperiod{
    float:left;
    width:120px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#cate_Exam>#duration{
    float:left;
    width:120px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#cate_Exam>#score{
    float:left;
    width:100px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#cate_Exam>#scorePublished{
    float:left;
    width:140px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#cate_Exam>#isOngoing{
    float:left;
    width:120px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#cate_Exam>#submissionCount{
    float:left;
    width:120px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#cate_Exam>#evaluationScore{
    float:left;
    width:120px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}

#body_Exam>#Eno{
    float:left;
    width:60px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#body_Exam>#Etitle{
    float:left;
    width:330px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
    cursor: pointer;
}
#body_Exam>#Emethod{
    float:left;
    width:120px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#body_Exam>#Eopendate{
    float:left;
    width:260px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#body_Exam>#Eexamperiod{
    float:left;
    width:120px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#body_Exam>#Eduration{
    float:left;
    width:120px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#body_Exam>#Escore{
    float:left;
    width:100px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#body_Exam>#EscorePublished{
    float:left;
    width:140px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#body_Exam>#EisOngoing{
    float:left;
    width:120px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#body_Exam>#EsubmissionCount{
    float:left;
    width:120px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}
#body_Exam>#EevaluationScore{
    float:left;
    width:120px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}

/* 시험 추가 1300 */

#ExamAdd_teacherportal{
    float:left;
    width:1625px;
    height:80px;
}

#ExamAdd_teacherportal>#but{
    width:1625px;
    height:80px;
}

#title_ExamAdd{
    float:left;
    width:1625px;
    height:50px;
    background-color:#FFFFFF;
}

#title_ExamAdd>h2{
    float:left;
    width:100px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#title_ExamAdd>input{
    float:left;
    width:1200px;
    height:30px;
    margin-top:7px;
    margin-left:40px;
}

#method_ExamAdd{
    float:left;
    width:1625px;
    height:50px;
    background-color:#FFFFFF;
}

#method_ExamAdd>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#method_ExamAdd>#ExamAdd_method{
    float:left;
    width:150px;
    height:30px;
    margin-top:7px;
}

#opendate_ExamAdd{
    float:left;
    width:700px;
    height:50px;
    background-color:#FFFFFF;
}

#opendate_ExamAdd>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#opendate_ExamAdd>input{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#examperiod_ExamAdd{
    float:left;
    width:925px;
    height:50px;
    background-color:#FFFFFF;
}

#examperiod_ExamAdd>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
}

#examperiod_ExamAdd>input{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#examperiod_ExamAdd>#betweenLetter{
    float:left;
    width:23px;
    height:30px;
    margin-top:5px;
    margin-left:5px;
}

#duration_ExamAdd{
    float:left;
    width:700px;
    height:50px;
    background-color:#FFFFFF;
}

#duration_ExamAdd>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#duration_ExamAdd>input{
    float:left;
    width:100px;
    height:30px;
    margin-top:7px;
}

#score_ExamAdd{
    float:left;
    width:925px;
    height:50px;
    background-color:#FFFFFF;
}

#score_ExamAdd>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
}

#score_ExamAdd>input{
    float:left;
    width:100px;
    height:30px;
    margin-top:7px;
}

#scorePublished_ExamAdd{
    float:left;
    width:1625px;
    height:50px;
    background-color:#FFFFFF;
}

#scorePublished_ExamAdd>h2{
    float:left;
    width:160px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#scorePublished_ExamAdd>input{
    float:left;
    width:20px;
    height:20px;
    margin-top:12px;
    margin-left:30px;
}

#scorePublished_ExamAdd>#ExamAdd_scorepublishdate{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#buttons_Assignmentadd{
    float:left;
    width:1625px;
    height:100px;
}

#buttons_ExamAdd>button{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    font-size:15px;
    color:#FFFFFF;
}

#content_ExamAdd{
    float:left;
    width:1625px;
    height:500px;
    background-color:#FFFFFF;
}

#content_ExamAdd>input{
    width:1400px;
    height:450px;
    margin:auto;
    margin-top:30px;
    margin-left:110px;
}

#buttons_ExamAdd>#save{
    margin-left:1350px;
}

#buttons_ExamAdd>#back{
    margin-left:20px;
}

/* 시험 수정 */

#ExamEdit_teacherportal{
    float:left;
    width:1625px;
    height:80px;
}

#ExamEdit_teacherportal>#but{
    width:1625px;
    height:80px;
}

#title_ExamEdit{
    float:left;
    width:1625px;
    height:50px;
    background-color:#FFFFFF;
}

#title_ExamEdit>h2{
    float:left;
    width:100px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#title_ExamEdit>input{
    float:left;
    width:1200px;
    height:30px;
    margin-top:7px;
    margin-left:40px;
}

#method_ExamEdit{
    float:left;
    width:1625px;
    height:50px;
    background-color:#FFFFFF;
}

#method_ExamEdit>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#method_ExamEdit>#ExamEdit_method{
    float:left;
    width:150px;
    height:30px;
    margin-top:7px;
}

#opendate_ExamEdit{
    float:left;
    width:700px;
    height:50px;
    background-color:#FFFFFF;
}

#opendate_ExamEdit>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#opendate_ExamEdit>input{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#examperiod_ExamEdit{
    float:left;
    width:925px;
    height:50px;
    background-color:#FFFFFF;
}

#examperiod_ExamEdit>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
}

#examperiod_ExamEdit>input{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#examperiod_ExamEdit>#betweenLetter{
    float:left;
    width:23px;
    height:30px;
    margin-top:5px;
    margin-left:5px;
}

#duration_ExamEdit{
    float:left;
    width:700px;
    height:50px;
    background-color:#FFFFFF;
}

#duration_ExamEdit>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#duration_ExamEdit>input{
    float:left;
    width:100px;
    height:30px;
    margin-top:7px;
}

#score_ExamEdit{
    float:left;
    width:925px;
    height:50px;
    background-color:#FFFFFF;
}

#score_ExamEdit>h2{
    float:left;
    width:140px;
    height:30px;
    margin-top:5px;
}

#score_ExamEdit>input{
    float:left;
    width:100px;
    height:30px;
    margin-top:7px;
}

#scorePublished_ExamEdit{
    float:left;
    width:1625px;
    height:50px;
    background-color:#FFFFFF;
}

#scorePublished_ExamEdit>h2{
    float:left;
    width:160px;
    height:30px;
    margin-top:5px;
    margin-left:110px;
}

#scorePublished_ExamEdit>input{
    float:left;
    width:20px;
    height:20px;
    margin-top:12px;
    margin-left:30px;
}

#scorePublished_ExamEdit>#ExamEdit_scorepublishdate{
    float:left;
    width:200px;
    height:30px;
    margin-top:7px;
}

#buttons_ExamEdit{
    float:left;
    width:1625px;
    height:100px;
}

#buttons_ExamEdit>button{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    font-size:15px;
    color:#FFFFFF;
}

#content_ExamEdit{
    float:left;
    width:1625px;
    height:500px;
    background-color:#FFFFFF;
}

#content_ExamEdit>input{
    width:1400px;
    height:450px;
    margin:auto;
    margin-top:30px;
    margin-left:110px;
}

#buttons_ExamEdit>#save{
    margin-left:1350px;
}

#buttons_ExamEdit>#back{
    margin-left:20px;
}

/* 과제 조회/제출 평가 1103 */

#AssignmentEstimation_teacherportal{
    float:left;
    width:1625px;
    height:80px;
}

#AssignmentEstimation_teacherportal>#but{
    width:1625px;
    height:80px;
}

#AssignmentEstimation_teacherportal>#AssignmentEstimation{
    width:1625px;
    height:800px;
    background-color:#FFFFFF;
}

#AssignmentEstimation>#cate_AssignmentEstimation{
    width:1625px;
    height:50px;
}

#cate_AssignmentEstimation>#name{
    float:left;
    width:250px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
    margin-left:170px;
    border-top: 1px solid #CED4DA;
    border-bottom: 1px solid #CED4DA;
    border-right: 1px solid #CED4DA;
}
#cate_AssignmentEstimation>#StudentID{
    float:left;
    width:250px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
    border-top: 1px solid #CED4DA;
    border-bottom: 1px solid #CED4DA;
    border-right: 1px solid #CED4DA;
}
#cate_AssignmentEstimation>#submit{
    float:left;
    width:250px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
    border-top: 1px solid #CED4DA;
    border-bottom: 1px solid #CED4DA;
    border-right: 1px solid #CED4DA;
}
#cate_AssignmentEstimation>#score{
    float:left;
    width:250px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
    border-top: 1px solid #CED4DA;
    border-bottom: 1px solid #CED4DA;
    border-right: 1px solid #CED4DA;
}
#cate_AssignmentEstimation>#opinion{
    float:left;
    width:250px;
    height:40px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
    border-top: 1px solid #CED4DA;
    border-bottom: 1px solid #CED4DA;
}

#info_AssignmentEstimation>#Aname{
    float:left;
    width:250px;
    height:50px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-left:170px;
    border-right: 1px solid #CED4DA;
}
#info_AssignmentEstimation>#AStudentID{
    float:left;
    width:250px;
    height:50px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
    border-right: 1px solid #CED4DA;
}
#info_AssignmentEstimation>#Asubmit{
    float:left;
    width:250px;
    height:50px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
    border-right: 1px solid #CED4DA;
}
#info_AssignmentEstimation>#Ascore{
    float:left;
    width:250px;
    height:50px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
    border-right: 1px solid #CED4DA;
}
#info_AssignmentEstimation>#Aopinion{
    float:left;
    width:250px;
    height:50px;
    text-align:center;
    font-size:20px;
    margin:auto;
    margin-top:5px;
}

/* 과제 조회/제출 평가에서 학생이름 클릭 1500*/
#AssignmentEstimationStudent_teacherportal{
    float:left;
    width:1625px;
    height:80px;
}

#AssignmentEstimationStudent_teacherportal>#but{
    width:1625px;
    height:80px;
}

#AssignmentEstimationStudent_teacherportal>#AssignmentEstimationStudent{
    width:1625px;
    height:850px;
    background-color:#FFFFFF;
}

#AssignmentEstimationStudent>#title_AssignmentEstimationStudent{
    width:1625px;
    height:120px;
    background-color:#FFFFFF;
}

#title_AssignmentEstimationStudent>h2{
    width:150px;
    height:30px;
    margin-left:210px;
}

#title_AssignmentEstimationStudent>#StudentWrite{
    width:900px;
    height:70px;
    margin-top:7px;
    margin-left:210px;
    border: 1px solid #CED4DA;
}

#AssignmentEstimationStudent>#content_AssignmentEstimationStudent{
    width:1625px;
    height:230px;
}

#content_AssignmentEstimationStudent>h2{
    width:150px;
    height:30px;
    margin-left:210px;
}

#content_AssignmentEstimationStudent>#StudentContent{
    width:900px;
    height:170px;
    margin-top:7px;
    margin-left:210px;
    border: 1px solid #CED4DA;
}

#AssignmentEstimationStudent>#buttons_AssignmentEstimationStudent{
    width:1625px;
    height:80px;
    background-color:#EAEAEA;
}

#buttons_AssignmentEstimationStudent>button{
    float:left;
    width:103px;
    height:51px;
    background-color:#6F7C86;
    border-color:#6F7C86;
    margin-top:15px;
    margin-left:1200px;
    font-size:15px;
    color:#FFFFFF;
}


#AssignmentEstimationStudent>#file_AssignmentEstimationStudent{
    width:1625px;
    height:150px;
    background-color:#FFFFFF;
}

#file_AssignmentEstimationStudent>h2{
    width:150px;
    height:30px;
    margin-left:210px;
}

#file_AssignmentEstimationStudent>#StudentFile{
    width:900px;
    height:80px;
    margin-top:10px;
    margin-left:210px;
    border: 1px solid #CED4DA;
}

#AssignmentEstimationStudent>#Estimation_AssignmentEstimationStudent{
    width:1625px;
    height:50px;
    background-color:#FFFFFF;
}

#Estimation_AssignmentEstimationStudent>h2{
    float:left;
    width:50px;
    height:30px;
    margin-left:210px;
}

#Estimation_AssignmentEstimationStudent>#ScoreOfAssignment{
    float:left;
    width:100px;
    height:30px;
    margin-top:2px;
    margin-left:20px;
    border: 1px solid #CED4DA;
}

#AssignmentEstimationStudent>#Opinion_AssignmentEstimationStudent{
    width:1625px;
    height:250px;
    background-color:#FFFFFF;
}

#Opinion_AssignmentEstimationStudent>h2{
    width:150px;
    height:30px;
    margin-left:210px;
}

#Opinion_AssignmentEstimationStudent>#OpinionOfAssignment{
    width:1000px;
    height:200px;
    margin-top:10px;
    margin-left:210px;
    border: 1px solid #CED4DA;
    text-align: left;
    vertical-align: top;
    font-size:18px;
}

/* 시험관리 평가버튼 누르고 1664*/
#ExamEstimation_teacherportal{
    float:left;
    width:1625px;
    height:80px;
}

#ExamEstimation_teacherportal>#but{
    width:1625px;
    height:80px;
}

#ExamEstimationStudent{
    float:left;
    width:1625px;
    height:900px;
    background-color:#FFFFFF;
}

#ExamEstimationStudent>#table_score{
    width:1200px;
    height:300px;
    margin:0 auto;
}

#table_score>#blank_table_score{
    width:1200px;
    height:20px;
    background-color:white;
    margin:0 auto;
    font-size:20px;
}

#table_score>#howmanystudent{
    width:300px;
    height:30px;
    background-color:white;
    margin:0 auto;
    font-size:20px;
}

#table_score>#tableOfStudentScore{
    width:1020px;
    height:200px;
    background-color:white;
    margin:0 auto;
    margin-top:20px;
    font-size:20px;
    border:1px solid black;
}

#tableOfStudentScore>#tableOfStudentScore_category{
    height:89px;
    border-bottom:1px solid black;
}

#tableOfStudentScore_category>#totalscore{
    float: left;
    width:169px;
    height:89px;
    border-right:1px solid black;
    text-align:center;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableOfStudentScore_category>#aver_exam{
    float: left;
    width:169px;
    height:89px;
    border-right:1px solid black;
    text-align:center;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableOfStudentScore_category>#min_exam{
    float: left;
    width:169px;
    height:89px;
    border-right:1px solid black;
    text-align:center;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableOfStudentScore_category>#max_exam{
    float: left;
    width:169px;
    height:89px;
    border-right:1px solid black;
    text-align:center;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableOfStudentScore_category>#mid_exam{
    float: left;
    width:169px;
    height:89px;
    border-right:1px solid black;
    text-align:center;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableOfStudentScore_category>#abs_exam{
    float: left;
    width:169px;
    height:89px;
    text-align:center;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableOfStudentScore>#tableOfStudentScore_score{
    height:110px;
}

#tableOfStudentScore_score>#totalscore{
    float: left;
    width:169px;
    height:110px;
    border-right:1px solid black;
    text-align:center;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableOfStudentScore_score>#aver_exam{
    float: left;
    width:169px;
    height:110px;
    border-right:1px solid black;
    text-align:center;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableOfStudentScore_score>#min_exam{
    float: left;
    width:169px;
    height:110px;
    border-right:1px solid black;
    text-align:center;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableOfStudentScore_score>#max_exam{
    float: left;
    width:169px;
    height:110px;
    border-right:1px solid black;
    text-align:center;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableOfStudentScore_score>#mid_exam{
    float: left;
    width:169px;
    height:110px;
    border-right:1px solid black;
    text-align:center;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableOfStudentScore_score>#abs_exam{
    float: left;
    width:169px;
    height:110px;
    text-align:center;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ExamEstimationStudent>#graph_score{
    width:1200px;
    height:300px;
    margin:0 auto;
}

#ExamEstimationStudent>#NameOfStudent_ExamEstimation{
    width:1200px;
    height:300px;
    margin:0 auto;
}


/* 강의 관리 */
#VideoManagement_teacherportal{
    float:left;
    width:1625px;
    height:950px;
}

#VideoManagement_teacherportal>h2{
    margin-top:20px;
    margin-left:150px;
}

#VideoManagement_teacherportal>#UploadVideo_teacherportal{
    width:700px;
    height:150px;
    background-color:#FFFFFF;
    margin-top:30px;
    margin-left:120px;
    border:1px solid #BCBCBC;
    border-radius:5px;
}

#UploadVideo_teacherportal>#blank_UploadVideo{
    width:100%;
    height:20px;
}

#UploadVideo_teacherportal>#title_UploadVideo{
    width:500px;
    height:30px;
    margin-left:50px;
}

#UploadVideo_teacherportal>#file_UploadVideo{
    width:500px;
    height:30px;
    margin-top:15px;
    margin-left:50px;
}

#UploadVideo_teacherportal>button{
    float:left;
    width: 70px;
    height: 40px;
    background-color: #363636;
    border-color: #363636;
    border-radius: 15px;
    margin-left: 600px;
    font-size: 15px;
    color: #FFFFFF;
    box-shadow: none;
}

#VideoManagement_teacherportal>#Video_teacherportal{
    width:1000px;
    height:600px;
    background-color:#FFFFFF;
    margin:10px auto;
    border:1px solid #BCBCBC;
    border-radius:5px;
    overflow-y: auto
}

#Video_teacherportal>#video_UploadVideo>h2{
    margin-top:5px;
    margin-left:15px;
}

#VideoManagement_teacherportal>ul{
    width:1400px;
    height:200px;
    background-color:#FFFFFF;
    margin-top:10px;
    margin-left:120px;
    border:1px solid #BCBCBC;
    border-radius:5px;
    overflow-y: auto
}

#VideoManagement_teacherportal>ul>li{
    width:260px;
    height:60px;
    margin-top:10px;
    margin-left:20px;
    border:1px solid #BCBCBC;
    border-radius:5px;
    overflow-y: auto
}

#VideoManagement_teacherportal>ul>li>h3{
    margin-top:2px;
    margin-left:5px;
}