#teachermain-menu{
    display: block;
    width: 1358px;
    height: 1107px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 100px;
}

#teachermain-menu>#header_teachermain{
    width:1358px;
    height:200px;

}

#header_teachermain>img{
    display:block;
    width: 162px;
    height: 162px;
    margin:auto;
    object-fit: cover;
}

#teachermain-menu>#buttons_teachermain{
    display: block;
    width: 1358px;
    height: 100px;
}

#buttons_teachermain>input{
    position: relative;
    display:block;
    float:left;
    width: 281px;
    height: 68px;
    background-color: #F6B28E;
    margin: auto 28px;
    z-index: 2;

    font-size: 25px;
    color:aliceblue;
    box-shadow: none;
    border:none;
    outline: none;
}

#buttons_teachermain>#lecture_btn{
    margin-left:202px;
}

#buttons_teachermain>#rect{
    position: absolute;
    float:left;
    width: 1086px;
    height: 5px;
    margin: 30px auto auto;
    margin-left:136px;
    z-index: 1;

    background: #7A7A7A;
}

#buttons_teachermain>input:hover {
    background:#E78753;
    color:#fff;
}

#buttons_teachermain>#notice_btn{
    margin-left:202px;
}

#teachermain-menu>#contents_teachermain{
    display: block;
    width: 1358px;
    height: 730px;
    margin-top:20px;
}

#contents_teachermain>#contents1_teachermain{
    display:block;
    float:left;
    width:679px;
    height:720px;
}

#contents1_teachermain>#teachermain_calendar{
    float:right;
    width: 630px;
    height: 665px;
    background-color:#363636;
    border-radius:15px;
    color:white;
}

#teachermain_calendar>h2{
    margin-top:15px;
    margin-left:30px;
}

#teachermain_calendar>#content_calendar{
    width:604px;
    height:580px;
    background-color:#FFFFFF;
    margin:auto;
    margin-top:15px;
    border-radius:15px;
}

.custom-calendar {
    width: 604px !important;
    height: 580px !important;
    font-size: 16px;
    border-radius:15px;
}

.react-calendar__month-view__weekdays {
    font-size: 18px; /* Font size for the weekdays */
}

.react-calendar__tile {
    font-size: 16px; /* Font size for the calendar tiles */
}

.react-calendar__tile--active {
    font-size: 16px; /* Font size for active tiles */
}


#contents_teachermain>#contents2_teachermain{
    display:block;
    float:left;
    width:679px;
    height:720px;
}

#contents2_teachermain>#Teacherinfo_teachermain{
    float:left;
    width:545px;
    height:300px;
    background-color:#363636;
    margin:auto;
    margin-left:65px;
    border-radius:15px;
}

#Teacherinfo_teachermain>h2{
    margin-top:15px;
    margin-left:30px;
    color:white;
}

#Teacherinfo_teachermain>#contents_Teacherinfo{
    width:519px;
    height:210px;
    background-color:#FFFFFF;
    margin:auto;
    margin-top:20px;
    border-radius:15px;
}

#contents_Teacherinfo>#blank_Teacherinfo{
    width:100%;
    height:40px;
}

#contents_Teacherinfo>#content_Teacherinfo{
    width:459px;
    height:150px;
    margin-left:30px;

}

#content_Teacherinfo>img{
    float:left;
    display:block;
    width:100px;
    height:100px;
    margin-left:40px;
    object-fit: cover;
    border:1px solid #BCBCBC;
}

#content_Teacherinfo>#Teachername{
    float:left;
    display:block;
    width:280px;
    height:50px;
    font-size:30px;
    margin-top:30px;
    margin-left:25px;
}

#content_Teacherinfo>button{
    width:100px;
    height:40px;
    background-color: unset;
    margin-left:20px;
    font-size:18px;
    border:none;
    text-decoration: underline;
    cursor:pointer;
}

#contents2_teachermain>#lectureSchedule_teachermain{
    float:left;
    width:545px;
    height:345px;
    background-color:#363636 !important;
    margin:auto;
    margin-top:20px;
    margin-left:65px;
    border-radius:15px;
}

#lectureSchedule_teachermain>h2{
    margin-top:15px;
    margin-left:30px;
    color:white;
}

#lectureSchedule_teachermain>#content_lectureSchedule{
    width:519px;
    height:255px;
    background-color:#FFFFFF;
    margin:auto;
    margin-top:20px;
    border-radius:15px;
}

#content_lectureSchedule>select{
    float: left;
    width:449px;
    height:60px;
    background-color:#FFFFFF;
    border: 1px solid #000000;
    margin:0 auto;
    margin-top: 45px;
    margin-left:35px;
    font-size:18px;
    border-radius:5px;
}

#content_lectureSchedule>input{
    display:block;
    float:left;
    width: 449px;
    height: 70px;
    background-color: #6F7C86;
    margin-top:40px;
    margin-left:35px;
    border-radius: 15px;

    font-size: 28px;
    color:aliceblue;
    box-shadow: none;
    border:none;
    outline: none;
}

#teachermain-menu>#footer_teachermain{
    display: block;
    width: 1358px;
    height: 30px;
}

#footer_teachermain>a{
    display:block;
    font-size: 16px;
    color:#838383;
    text-align: center;
    margin:auto;
}